{layout name="layout" /}
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<table class="table">
				<thead>
					<tr>
						<th>
							模拟次数
						</th>
						<th>
							总花费
						</th>
						<th>
							总步数
						</th>
						<th>
							平均花费
						</th>
						<th>
							平均步数
						</th>
						<th>
							获得道具
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							{$test_num}
						</td>
						<td>
							{$total_cost}
						</td>
						<td>
							{$total_step}
						</td>
						<td>
							{$avg_cost}
						</td>
						<td>
							{$avg_step}
						</td>
						<td>
							{$items}
						</td>
					</tr>
					
				</tbody>
			</table>
</body>
</html>